@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', 'sana-serif';
}
body{
    background-color: black;
}

.main {
    background-image: url("assets/imges/background.jpg");
    height: 110vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;

}

.main .box {
    height: 110vh;
    width: 100%;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    height: 62px;
}

nav span img {
    width: 114px;
    color: red;
    z-index: 10;
    position: relative;
}

nav div button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', 'sana-serif';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 62px);
    flex-direction: column;
    position: relative;
    gap: 23px;
    padding: 0px 30px;
    
}
.hero> :first-child{
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}
.sep{
    background-color: rgb(19, 18, 18);
    height: 5px;
    border: none;
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius:4px;
    border: none;
    

}
.btn-red{
background-color: red;
padding: 10px 34px;

font-size: 20px;

}
.btn-red-sm{
    background-color: red;
}
.main input{
padding:10px 101px 10px 14px;
border-radius:4px;
font-size: 20px;
background-color:rgba(23, 23, 23, 0.3);
border: 2px solid rgba(223, 217, 217, 0.5);
color: white;
}
.btn:hover{
    background-color: blue;
    color: black;
    cursor: pointer;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
}
.secimg{
    position: relative;
}
.secimg img{
   width: 555px;
   position: relative;
   z-index: 10;
}
.secimg video{
   position:absolute;
   top: 81px;
   right: 0px;
   
}
section.first >div {
    display: flex;
    flex-direction: column;
}
section.first > div :nth-child(1){
font-size: 48px;
font-weight: bolder;
}
section.first > div :nth-child(2){
font-size: 24px;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
}
.faqbox{
    display: flex;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    justify-content: space-between;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.5s ease-out;

}
.faqbox:hover{
    background-color:#414141;
    color: white;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto; 
    
}
.footer{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
}
.footer-item{
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    gap: 23px;
}
.footer a{
    font-size: 14px;
    color: white;
    
}
.Questions{
padding: 10px 0px;
}


  
